{% extends "base.html" %}

{% load static %}
<!-- load wagtailcore_tags by adding this: -->
{% load wagtailcore_tags wagtailimages_tags %} <!--this one is for page.body|richtext-->

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    <div>
        <h1>{{ page.title }}</h1>
        {% image page.image fill-480x320 %}
        <p>{{ page.hero_text }}</p>
        <!-- the 'firstof' template tag displays page.hero_cta if it has a value. 
        If page.hero_cta doesn’t have a value, then it displays page.hero_cta_link.title. -->
        {% if page.hero_cta_link %}
            <a href="{% pageurl page.hero_cta_link %}">
                {% firstof page.hero_cta page.hero_cta_link.title %}
            </a>
        {% endif %}
    </div>

    {{ page.body|richtext }}
{% endblock %}